*{
    font-family: 'Roboto', sans-serif;
}

#logo{
    width: 50px;
}

form * {
    padding: 4px;
}

input[type="submit"]{
    margin: 6px 4px;
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.error{
    background-color: #edd4d4;
    color: #571515;
    border: 1px solid #e6c3c3;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#funcCard{
    margin-bottom: 2rem;
}