*{
    font-family: 'Roboto', sans-serif;
}

#logo{
    width: 50px;
}

form * {
    padding: 4px;
}

input[type="submit"]{
    margin: 6px 4px;
}

.msg{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}